<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="footer">
		<footer th:fragment="footer">
			<div class="container-fluid p-0">
				<div class="row text-left">
					<div class="col-md-5 col-sm-5">
						<h4 class="text-light">About us</h4>
						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Earum maxime ea similique illum corrupti</p>
						<p class="pt-4 text-muted">
							Copyright &copy;2021 All rights reserved | by <span>AhmedWarsame</span>
						</p>
					</div>
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-5 col-sm-12">
						<h4 class="text-light">Follow Us</h4>
						<p class="text-muted">Let us be social</p>
						<div class="column text-light">
							<i class="fab fa-facebook-f"></i> <i class="fab fa-instagram"></i>
							<i class="fab fa-twitter"></i> <i class="fab fa-youtube"></i>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
