<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="signForm">
	<th:block layout:fragment="content">

		<main>

			<div class="container mt-2 mb-4">
				<div class="col-sm-8 ml-auto mr-auto">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-signin"
							role="tabpanel" aria-labelledby="pills-signin-tab">
							<div class="col-sm-12 border border-primary shadow rounded pt-2">
								<form th:object="${user}" method="post" id="singninFrom"
									th:action="@{/user-add}">

									<div class="form-group"
										th:class="${#fields.hasErrors('name')}? 'has-error form-group':'form-group' ">
										<label class="font-weight-bold"> Name <span
											class="text-danger">*</span></label> <input type="text"
											placeholder="Name" th:field="*{name}" required
											th:class="${#fields.hasErrors('name')}? 'inputError form-control':'form-control' ">
										<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											class="has-error  ">error</span>
									</div>
									<div class="form-group"
										th:class="${#fields.hasErrors('email')}? 'has-error form-group':'form-group' ">
										<label class="font-weight-bold">Email <span
											class="text-danger">*</span></label> <input type="email"
											name="signupemail" id="signupemail" class="form-control"
											th:class="${#fields.hasErrors('email')}? 'inputError form-control':'form-control' "
											placeholder="Enter valid email" required th:field="*{email}"
											th:value="*{email}"> <span
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
											class="has-error  ">error</span>
									</div>
									<div class="form-group"
										th:class="${#fields.hasErrors('username')}? 'has-error form-group':'form-group' ">
										<label class="font-weight-bold">User Name <span
											class="text-danger">*</span></label> <input type="text"
											name="signupusername" id="signupusername"
											class="form-control" placeholder="User name"
											th:class="${#fields.hasErrors('username')}? 'inputError form-control':'form-control' "
											required th:field="*{username}" th:value="*{username}">
										<span th:if="${#fields.hasErrors('username')}"
											th:errors="*{username}" class="has-error  ">error</span>

									</div>
									<div class="form-group"
										th:class="${#fields.hasErrors('password')}? 'has-error form-group':'form-group' ">
										<label class="font-weight-bold">Password <span
											class="text-danger">*</span></label> <input type="password"
											th:class="${#fields.hasErrors('password')}? 'inputError form-control':'form-control' "
											name="signuppassword" id="signuppassword"
											class="form-control" placeholder="***********"
											pattern="^\S{6,}$"
											onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;"
											required th:field="*{password}" th:value="*{password}">
										<span th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}" class="has-error  ">error</span>
									</div>
									<div class="form-group"
										th:class="${#fields.hasErrors('confirmPassword')}? 'has-error form-group':'form-group' ">
										<label class="font-weight-bold">Confirm Password <span
											class="text-danger">*</span></label> <input type="password"
											th:class="${#fields.hasErrors('confirmPassword')}? 'inputError form-control':'form-control' "
											name="signupcpassword" id="signupcpassword"
											class="form-control" pattern="^\S{6,}$"
											onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
											placeholder="***********" required
											th:field="*{confirmPassword}" th:value="*{confirmPassword}">
										<span th:if="${#fields.hasErrors('confirmPassword')}"
											th:errors="*{confirmPassword}" class="has-error  ">error</span>
									</div>

									<div class="form-group">
										<select th:field="*{role}" th:value="${role}"
											class="form-control">
											<option value="">...</option>
											<option th:each="role : ${roles}" th:value="${role.id}"
												th:text="${role.code}"></option>
										</select>
									</div>
									<input type="hidden" th:field="*{id}" />

									<div class="form-group">
										<button class="btn btn-block btn-primary" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i> Save
										</button>
									</div>

									<input type="hidden" th:field="*{id}" /> <input type="hidden"
										name="${_csrf.parameterName}" value="${_csrf.token}" />

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


		</main>

	</th:block>
	<th:block layout:fragment="content-footer">
		<div th:replace="fragments/footer :: footer">footer</div>
	</th:block>
</body>
</html>
