<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block layout:fragment="content">

		<main>
			<!-- SideNav -->
			<div id="viewport">
			<div class="sidebarLib">
					<header>
						<a
							th:href="@{/library}"	href="/library">Library</a>
					</header>
					<ul class="nav lib">
						<li><a th:href="@{/library}" href="/library"> <i class="zmdi zmdi-view-dashboard"></i>
								Dashboard
						</a></li>
						<li><a th:href="@{/search}"> <i class="zmdi zmdi-link"></i> LookUp
								Books
						</a></li>
					</ul>
				</div>
				<div id="contentSideBar">




					<div class="container mt-2 mb-4">
						<div class="col-sm-8 ml-auto mr-auto">
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-signin"
									role="tabpanel" aria-labelledby="pills-signin-tab">
									<div
										class="col-sm-12 border border-primary shadow rounded pt-2">
										<form method="get" id="singninFrom"
											th:action="@{/search-books}">
											<div class="form-group">
												<label class="font-weight-bold">Word <span
													class="text-danger">*</span></label> <input type="text"
													placeholder="Enter Book Name" name="word">
											</div>
											<div class="form-group">
												<button class="btn btn-block btn-primary" type="submit">
													<i class="ace-icon fa fa-check bigger-110"></i> Search
												</button>
											</div>

											<input type="hidden" name="${_csrf.parameterName}"
												value="${_csrf.token}" />

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="viewport" th:if="${ not #lists.isEmpty(books) } ">
				<div id="contentSideBar">
					<div class="container-fluid">
						<div>

							<h3>Current rented books</h3>

							<table class="table table-striped table-dark table-boarded">
								<thead>
									<tr>
										<!-- 										<th scope="col">Id</th> -->
										<th scope="col">Book Name</th>
										<th scope="col">Book Author</th>
										<th scope="col">Book Desc</th>
										<th scope="col">Book Category</th>
										<th scope="col">Availability</th>
										<th>Rent this Book</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="book : ${books} ">
										<!-- 										<td th:text="${book.id}" /> -->
										<td th:text="${book.name}" />
										<td th:text="${book.author}" />
										<td th:text="${book.description}" />
										<td th:text="${book.category.name}" />
										<td th:if="${book.available}"><span
											class="fa fa-check fa-lg " style="color: #90EE90"></span></td>
										<td th:if="${!book.available}"><span
											class="fa fa-ban fa-lg" style="color: red"></span></td>
										<td th:if="${book.available}"><a class="btn btn-success"
											th:href="@{'/book-rent?idBook='+${book.id}}">Rent </a></td>

										<td th:if="${!book.available}">-</td>




									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</th:block>
</body>
</html>
